[Unit]
Description=Opsi TFTPD HPA Configuration Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/in.tftpd -v --ipv4 --listen --address :69 --secure --blocksize 1024 /tftpboot/
Restart=on-failure
RestartSec=5
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

