[Unit]
Description=Opsi TFTPD HPA Configuration Service
Wants=network.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/in.tftpd -v --ipv4 --secure --blocksize 1024 /tftpboot/
StandardInput=socket
Restart=on-failure
RestartSec=5
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

